body {
    font-family: serif;
    margin: 10%;
}

.titulo {
    display: flex;
    justify-content: center;
    background-color: #86ebf7;
}

.contenido {
    margin-left: 5%;
    margin-bottom: 7%;
    margin-right: 5%;
    margin-top: 2%;
}

#Ticket {
    margin: 5%;
}