html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #fbd0ed;
}


button {
  background-color: #ffea00;
  color: black;
  border: none;
}

button:hover {
  background-color: #48e5cb;
}